<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table{
        border-collapse: collapse;
      }
      tr,td{
        width: 120px;
        height: 70px;
        border: 1px solid #ccc;
        background-color: rgba(27, 71, 136,0.5);
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 th:text="${hello}">dkssudgktpdy</h1>
    <h1 th:text="${name}">안녕하세요.</h1>
    <h1 th:text="${age}">안녕하세요.</h1>
    <h1 th:text="${gender}">안녕하세요.</h1> <br>
    <h1 th:text="${gender}">안녕하세요.</h1> <br>


    <table>
      <tr th:each="page, index:${pages}">
        <td th:text="${index.count}"></td>
        <!-- <td><a th:href="@{/__${page}__}" th:text="${page}"></a></td> -->
        <td><a th:href="@{/{pg}( pg =${page})}" th:text="${page}"></a></td>
    </tr>
      
    </table>
  </body>
</html>
